{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["babel-plugin-root-import", {
            "paths": [
                {
                  "rootPathSuffix": "./logic",
                  "rootPathPrefix": "~"
                }
              ]
        }]
    ]
}
