doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Node Url Shortener
  link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
  link(rel='shortcut icon', href='/favicon.ico')
  link(rel='stylesheet', href='/css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='/css/nus.css', type='text/css')
  link(rel='stylesheet', href='/css/rainbow.css', type='text/css')
#header.container
  header.header
    p.lead
      | url.mrskeltal.io: 
      span.shadowbox
        | the 
        span.rainbow.rainbow_text_animated cool
        |  reddit video downloader
.container
  section.row
    .col-md-12.form-group.url-form
      form#nus.form
        .row
          .col-lg-10.input-group.url-input
            input#link.form-control.input-lg(name='long_url', type='text', placeholder='Paste a link here')
            span.input-group-btn
              button.btn.btn-default.btn-lg(type='submit')
                span.glyphicon.glyphicon-link
                |                     Shorten
              button.btn.btn-default.btn-lg(data-clipboard-target='#link', type='button')
                span.glyphicon.glyphicon-share-alt
                |                     Copy
              button.btn.btn-default.btn-lg(data-action='random', type='button')
                span.glyphicon.glyphicon-random
                |                     Rando
script(src='/js/jquery-1.12.4.min.js')
script(src='/js/bootstrap-3.3.6.min.js')
script(src='/js/clipboard-1.5.10.min.js')
script(src='/js/nus.js')